.navbar {
    width: 100%;
    background-color: cornflowerblue;
    color: #fff;
    height: 110px;
    
}

.navbar .container {
    max-width: 1100px;
    margin: 0px auto;
    height: 110px;

}

.footer {
    background-color: cornflowerblue;
    color: #fff;
    display: flex;
    justify-content: center ;
    bottom: 0px;
    width: 100%;
    position: absolute;
    
}

